streamlit
tensorflow==2.20.0
keras==3.13.2

underthesea
pandas
numpy
matplotlib
scikit-learn
matplotlib


fastapi
uvicorn[standard]
python-dotenv
pydantic
beautifulsoup4
gensim
transformers
sentence-transformers
faiss-cpu
rank_bm25
rasa
